/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

nav {
  background-color: #0fb9b1;
  height: 70px;
  display: flex;
  margin-top: 0;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

body {
  background-image: url('assets/burger-friends.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content: space-around;
}

article {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  justificy-content: space-evenly;
}

.flex-box{
  background: rgba(225, 225, 225, .9);
  height: 100px;
  margin: 200px;
  padding: 250px;
  width: 100px;
}
